<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="customVariables"   type="System.Configuration.NameValueSectionHandler" />    
  </configSections>

  <appSettings>
    <add key="PrestoDatasetFileName"              value="PrestoDataset.xml"    />
    <add key="PrestoLogPath"                      value="c:\Logs\Presto"       />
    <add key="PrestoExportedTasksPathAndFileName" value="c:\Temp\Tasks.presto" />
    <add key="PrestoExportedVariablesPathAndFileName" value="c:\Temp\CustomVariables.presto" />
  </appSettings>  

  <!-- Custom variables for tasks to use. For example, if a user wants to get the
       latest from TFS, one could set the DOS Program field to this:
       C:\Program Files\Microsoft Visual Studio 9.0\Common7\IDE\tf.exe
       or, using custom variables (below), one could set the field to this:
       $(tfexePath)\tf.exe
       The advantages of this is that different users can have different locations
       for installed programs, and one can easily switch which release to build by
       storing the release location here.
       Note: The custom variables below are for any/all tasks to use. Task-specific
             custom variables can be entered within the program, at the tab showing
             the tasks for a specific group.                                        -->
  <customVariables>
    <add key="$(tfexePath)"                     value="C:\Program Files\Microsoft Visual Studio 9.0\Common7\IDE"            />
    <add key="$(devenvPath)"                    value="C:\Program Files\Microsoft Visual Studio 9.0\Common7\IDE"            />
    <add key="$(frameworkMainSourceCodePath)"   value="C:\DevProjects\Master Library\FirstSolarFramework\Main\Source"       />
    <add key="$(appPlatformMainSourceCodePath)" value="C:\DevProjects\Master Library\FirstSolarAppPlatform\Main\Source"     />
    <add key="$(iprMainSourceCodePath)"         value="C:\DevProjects\MES_MsfAgile\IntelligentProductRouting\Main\Source"   />
    <add key="$(petMainSourceCodePath)"         value="C:\DevProjects\MES_MsfAgile\PET\Main\Source"                         />
    <add key="$(tempFolder)"                    value="C:\Temp"                                                             />
  </customVariables>

</configuration>